<%product = @friend.product%>
<div class="<%= cycle('marketingPanelPosition1', 'marketingPanelPosition2') %>">
	<%= product.name %>
	<%= image_tag(product.image_url)  %>
	<%= button_to 'Add to trackkr', add_to_cart_path(:product_id => product), :method => :get %>
	<br>
</div>