<%if @friend.friend_id == current_user.id%>
<%product = @friend.product%>
<div class="<%= cycle('marketingPanelPosition1', 'marketingPanelPosition2') %>">
	<%= product.name %>
	<%= image_tag(product.image_url)  %>
	<%= button_to 'Add to trackkr', add_to_cart_with_frd_path(:product_id => product,:friend_id=>@friend.id), :method => :get %>
	<br>
</div>
<%else%>

<div> <h1>Please login as a different User</h1> </div>
<%end%>