<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>trackkr-track your key results</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #0361B7;
	background-image: url(images/PageBG.gif);
}
-->
</style>
<link href="trackkr.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
a:hover {
	color: #666600;
}
-->
</style></head>

<body>
<table width="1000" height="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td><table width="1000" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15"><img src="images/transparent.gif" width="15" height="1" /></td>
        <td width="320"><img src="images/transparent.gif" width="320" height="1" /></td>
        <td width="15"><img src="images/transparent.gif" width="15" height="1" /></td>
        <td><img src="images/transparent.gif" width="635" height="1" /></td>
        <td width="15"><img src="images/transparent.gif" width="15" height="1" /></td>
      </tr>
      <tr>
        <td><img src="images/transparent.gif" width="15" height="10" /></td>
        <td><img src="images/transparent.gif" width="15" height="10" /></td>
        <td><img src="images/transparent.gif" width="15" height="10" /></td>
        <td><table width="100" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td bgcolor="#9EBB02"><img src="images/transparent.gif" width="15" height="10" /></td>
            </tr>
        </table></td>
        <td><img src="images/transparent.gif" width="15" height="10" /></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="images/logo.gif" alt="logo" name="Logo" width="246" height="60" id="Logo" /></td>
        <td>&nbsp;</td>
        <td align="left" valign="top"><table width="100%" height="22" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="45%" align="left" valign="bottom" class="welcome">&nbsp;Welcome Jack </td>
              <td><img src="images/transparent.gif" width="15" height="20" /></td>
              <td width="45%" align="right" valign="bottom"><div align="right"><a href="#" class="toplinks">My Profile</a> &nbsp;<span class="toplinks">|</span>&nbsp; <a href="trackkrhome.html" class="toplinks">Sign Out</a>&nbsp;&nbsp; </div></td>
            </tr>
          </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="18"><img src="images/transparent.gif" width="15" height="18" /></td>
              </tr>
              <tr>
                <td width="15" background="im" class="tabbgline">&nbsp;</td>
                <td width="4"><img src="images/Tab-Left-Selected.gif" width="4" height="22" /></td>
                <td width="100" valign="bottom" class="selectedTab"><div align="center"><a href="#" class="welcome">Dashboard</a></div></td>
                <td width="4"><img src="images/Tab-Right-Selected.gif" width="4" height="22" /></td>
                <td width="1"><img src="images/transparent.gif" width="1" height="22" /></td>
                <td width="4"><img src="images/Tab-Left-UnSelected.gif" width="4" height="22" /></td>
                <td width="100" valign="bottom" class="UnselectedTab"><div align="center"><a href="#" class="unslctdtab-text">Activity 1</a> </div></td>
                <td width="4"><img src="images/Tab-Right-UnSelected.gif" width="4" height="22" /></td>
                <td width="1"><img src="images/transparent.gif" width="1" height="22" /></td>
                <td width="4"><img src="images/Tab-Left-UnSelected.gif" width="4" height="22" /></td>
                <td width="100" valign="bottom" class="UnselectedTab"><div align="center"><a href="#" class="unslctdtab-text">Activity 2</a> </div></td>
                <td width="4"><img src="images/Tab-Right-UnSelected.gif" width="4" height="22" /></td>
                <td width="1"><img src="images/transparent.gif" width="1" height="22" /></td>
                <td width="4"><img src="images/Tab-Left-UnSelected.gif" width="4" height="22" /></td>
                <td width="100" valign="bottom" class="UnselectedTab"><div align="center"><a href="#" class="unslctdtab-text">Activity 3</a> </div></td>
                <td width="4"><img src="images/Tab-Right-UnSelected.gif" width="4" height="22" /></td>
                <td class="tabbgline">&nbsp;</td>
                <td class="tabbgline"><img src="images/transparent.gif" width="15" height="22" /></td>
              </tr>
          </table></td>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="7"><img src="images/transparent.gif" width="15" height="4" /></td>
            </tr>
            <tr>
              <td height="12" bgcolor="#9EBB02"><img src="images/transparent.gif" width="15" height="10" /></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td width="47%" height="38" class="regionhdr">Calendar</td>
              <td width="53%" colspan="2" class="regionhdr"><div align="center">Display 
                <select name="select2" class="Droplist">
                  <option selected="selected">Months</option>
                  <option>Weeks</option>
                </select>
              </div></td>
              </tr>
            <tr>
              <td colspan="3"><p><img src="images/Calendar.gif" alt="Calendar" width="305" height="186" /></p>
                <p><img src="images/transparent.gif" width="15" height="15" /></p></td>
            </tr>
          </table>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="regionhdr">
              <tr>
                <td colspan="2"><img src="images/transparent.gif" width="1" height="1" /></td>
              </tr>
              
              <tr>
                <td>Trackkr Buddies </td>
                <td width="6%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><div align="right"></div></td>
                      <td width="20"><a href="#"><img src="images/AddMembers.gif" alt="Add Members" width="87" height="17" border="0" /></a></td>
                    </tr>
                </table></td>
              </tr>
            </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2"><p class="TabContHdr">My Buddies</p>                </td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td colspan="2"> <div align="left">
                  <blockquote class="Value">John Nash                    </blockquote>
                </div></td>
                <td><input type="submit" name="Submit7" value="Remove" /></td>
              </tr>
              <tr>
                <td colspan="2"><blockquote class="Value">Christopher Reed </blockquote></td>
                <td><input type="submit" name="Submit72" value="Remove" /></td>
              </tr>
              <tr>
                <td colspan="3" class="Reminderlines">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3" class="TabContHdr"> Invitations Sent </td>
              </tr>
              <tr>
                <td colspan="2"><blockquote class="Value">Sally Fuller </blockquote></td>
                <td><input type="submit" name="Submit732" value="Remove from this list" /></td>
              </tr>
              <tr>
                <td colspan="3" class="Reminderlines">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3" class="TabContHdr">Invitation Recieved </td>
              </tr>
              <tr>
                <td><blockquote class="Value">Bruce Spring </blockquote></td>
                <td><input type="submit" name="Submit73" value="Accept" /></td>
                <td><input type="submit" name="Submit74" value="Decline" /></td>
              </tr>
            </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="regionhdr">
              
            </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="images/transparent.gif" width="15" height="15" /></td>
              </tr>
            </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="regionhdr">
              <tr>
                <td>&nbsp;Coach Recommends 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="right" valign="top">&nbsp;</td>
                      <td width="20" align="left" valign="top"><a href="#"></a></td>
                    </tr>
                  </table></td>
              </tr>
            </table>
          <table width="100%" border="0" cellpadding="3" cellspacing="0" class="regionBody">
              <tr>
                <td align="center"><div align="left"><img src="images/Coach.jpg" alt="Coach" width="134" height="134" /> <span class="Value">Some content About the recommendations from the coach about the activity selected in the tab ablve. this can be based on the performance in the chart. The same can be stored in the DB and based on the performance the content is customized for an individual. </span></div></td>
              </tr>
            </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="images/transparent.gif" width="15" height="15" /></td>
              </tr>
            </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="regionhdr">
              <tr>
                <td width="33%">&nbsp;</td>
                <td width="67%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="right" valign="top"><div align="right"><a href="#"></a><a href="#"></a></div></td>
                      <td width="20" align="left" valign="top"><a href="#"></a></td>
                    </tr>
                </table></td>
              </tr>
            </table>
          </td>
        <td>&nbsp;</td>
        <td align="left" valign="top"><table width="100%" border="0" cellpadding="5" cellspacing="0" class="tabborder">
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
             
                <tr><td width="70%" height="35" class="regionhdr">Goals </td>
                  <td width="19%" class="regionhdr"><span class="TabContHdr">
                    <input name="Submit545" type="submit" class="Butts" value="Create/Update..." />
                  </span></td>
                  <td width="11%" class="regionhdr"><span class="TabContHdr">
                    <input name="Submit546" type="submit" class="Butts" value="Delete..." />
                  </span></td>
                </tr>
                </table>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr>
                      <td width="25%"><span class="TabContHdr">My Goal</span></td>
                      <td width="25%"><div align="center"><span class="TabContHdr">
                        <input name="Submit544" type="submit" class="Butts" value="Edit Fields Display" />
                      </span></div></td>
                      <td width="24%" class="TabContHdr"> My Current Performance </td>
                      <td width="26%"><div align="right"> &nbsp;<span class="TabContHdr">&nbsp;<span class="TabContHdr">
                        <input name="Submit5" type="submit" class="Butts" value="Edit Fields Dsiplay" />
                      </span><span class="TabContHdr">&nbsp;</span><img src="images/transparent.gif" width="10" height="1" /> </div></td>
                    </tr>
                  </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="50%" align="left" valign="top"><table width="100%" height="70" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="30%"  class="Reminderlines"><span class="Label">Start Date</span> </td>
                            <td class="Reminderlines"><span class="Value">Aug 25, 2006 </span></td>
                          </tr>
                          <tr>
                            <td width="30%" class="Reminderlines"><span class="Label">End Date </span> </td>
                            <td class="Reminderlines"><span class="Value">Nov 25, 2006 </span></td>
                          </tr>
                          <tr>
                            <td width="30%" class="Reminderlines"><span class="Label">Total Duration</span> </td>
                            <td class="Reminderlines"><span class="Value">90 Days</span> </td>
                          </tr>
                      </table></td>
                      <td width="15"><img src="images/transparent.gif" width="15" height="15" /></td>
                      <td width="50%" align="left" valign="top"><table width="100%" height="70" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="46%" class="Reminderlines"><span class="Label">My (Max) Distance </span> </td>
                            <td width="54%" class="Reminderlines"><span class="Value">42 </span></td>
                          </tr>
                          <tr>
                            <td width="46%" class="Reminderlines"><span class="Label">My (Min) Time  </span></td>
                            <td class="Reminderlines"><span class="Value">3:15:00</span></td>
                          </tr>
                          <tr>
                            <td width="46%" class="Reminderlines"><span class="Label">My (Avg.) Speed </span></td>
                            <td class="Reminderlines"><span class="Value">5 miles / hour </span> </td>
                          </tr>
                      </table></td>
                    </tr>
                  </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><img src="images/transparent.gif" width="15" height="20" /></td>
                    </tr>
                  </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabContHdrLIne">
                    <tr><td width="33%" class="regionhdr">Performance Track </td>
                      <td width="35%" class="regionhdr"><span class="TabContHdr">
                        <input name="Submit54" type="submit" class="Butts" value="Add or Remove Graphs/Tables..." />
                      </span></td>
                      <td width="19%" class="regionhdr"><span class="TabContHdr">
                        <input name="Submit542" type="submit" class="Butts" value="Save as .pdf..." />
                      </span></td>
                      <td width="13%" class="regionhdr"><span class="TabContHdr">
                        <input name="Submit543" type="submit" class="Butts" value="E-mail..." />
                      </span></td>
                    </tr>
                  </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="performance">
                    <tr>
                      <td height="15" align="left" valign="middle"><span class="TabContHdr"> &nbsp;
                        <label></label>
                      </span></td>
                    </tr>
                  </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="PerformaCont">
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="75%"><img src="images/transparent.gif" width="1" height="1" /></td>
                            <td width="25%">&nbsp;</td>
                          </tr>
                          <tr>
                            <td><img src="images/Chart01.gif" alt="Chart 01" width="466" height="134" /></td>
                            <td><label><span class="TabContHdr">
                              <select name="select3">
                                <option>Graph</option>
                                <option>Tablular Data</option>
                              </select>
                            </span><br />
                              <br />
                              <input type="submit" name="Submit6" value="Edit Graph" />
                              <br />
                              <br />
                              <input type="checkbox" name="checkbox" value="checkbox" />
                            Add to Dashboard </label></td>
                          </tr>
                        </table>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                              <td width="75%"><img src="images/Chart02.gif" alt="Chart 02" width="466" height="146" /></td>
                              <td width="25%"><p>
                                <span class="TabContHdr">
                                <select name="select">
                                  <option>Graph</option>
                                  <option>Tablular Data</option>
                                </select>
                                </span></p>
                                <p>
                                  <input type="submit" name="Submit62" value="Edit Graph" />
                                  </p>
                                <p>
                                  <input type="checkbox" name="checkbox2" value="checkbox" /> 
                                Add to Dashboard
                                </p></td>
                            </tr>
                          </table>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    
                    <tr>
                      <td><img src="images/transparent.gif" width="15" height="10" /></td>
                    </tr>
                  </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabContHdrLIne">
                  <tr class="regionBody">
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="3">
                        <tr>
                          <td width="15%" class="regionhdr">&nbsp;Reminders</td>
                          <td width="83%" class="regionhdr"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td align="right" valign="top"><div align="right"><a href="#"></a><a href="#"><img src="images/ByEmail.gif" alt="By Email" width="65" height="18" border="0" /></a><img src="images/RegionVignette.gif" alt="Desc" width="10" height="18" /><a href="#"><img src="images/BySMS.gif" alt="By SMS" width="52" height="18" border="0" /></a></div>                                  <a href="#"></a></td>
                                </tr>
                          </table></td>
                          <td width="2%">&nbsp;</td>
                          </tr>
                        <tr>
                          <td colspan="3">28 Reminders (4 critical, 24 general) </td>
                        </tr>
                        <tr>
                          <td colspan="3"><table width="100%" border="0" cellpadding="3" cellspacing="0" class="IFborder">
                              <tr>
                                <td><iframe src="reminders.html" name="reminders" id="1" width="100%" height="120" frameborder="0"
             scrolling="Auto" ></iframe></td>
                              </tr>
                            </table>
                              <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                <tr>
                                  <td width="50%" height="20" align="left" valign="bottom">&nbsp;</td>
                                  <td width="50%" align="right" valign="bottom">&nbsp;</td>
                                </tr>
                            </table></td>
                        </tr>
                    </table></td>
                  </tr>
                  </table>
                </td>
            </tr>
        </table></td>
        <td>&nbsp;</td>
      </tr>
    </table>
      <table width="1000" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="350">&nbsp;</td>
          <td><img src="images/copyright.gif" alt="Copyright" width="180" height="19" /></td>
        </tr>
      </table>
      <table width="1000" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td background="images/BottomLine.gif"><img src="images/transparent.gif" width="1" height="17" /></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>

